	<div style="width:500px;margin:0px auto;font-family:Arial;font-size :16px;box-sizing:border-box;line-height:2.0em">

	<h1 style ="text-align:center;background-color:#1aa4ff;color:white;height:60px;line-height:60px;font-family: Arial;font-size:22px;display: block;">Account Recovery</h1>
		
		<p> Hello , </p>
		
		<p> You are receiving this because you have requested the reset of the password for your account.
				Please click on the following link, or paste the link into your browser address bar to complete the process: </p>

		<p style="text-align:center">
		<a style ='display:inline-block;width:80%;padding:1.5340879234504911474798498165083%;background-color:#1aa4ff;border-radius: 8px;color:white;text-decoration:none;font-weight:bold;text-align:center' 
			href ='http://{{host}}/reset/{{token}}'> Recover Account Password </a> </p>

		<p> If you did not request this, please ignore this email and your password will remain unchanged.</p> 

	</div>