	<div style="width:500px;margin:0px auto;font-family:Arial;font-size :16px;box-sizing:border-box;line-height:2.0em">

	<h1 style ="text-align:center;background-color:#1fb588;color:white;height:60px;line-height:60px;font-family: Arial;font-size:22px;display: block;">Reset Password</h1>
		
		<p> <b> Hello {{full_name}}, </b> </p>
		
		<p> You are receiving this because you have updated your account and profile password. Please kindly click on the following link , or paste this into your browser to continue using the system: </p>

		<p style="text-align:center">

		<a style ='display:inline-block;width:80%;padding:1.5340879234504911474798498165083%;background-color:#1aa4ff;border-radius: 8px;color:white;text-decoration:none;font-weight:bold;text-align:center' 
			href ='http://{{host}}/sign-in'> Sign in to Profile </a> </p>

	</div>