	<div style="width:500px;margin:0px auto;font-family:Arial;font-size :16px;">

	<h1 style ="text-align:center;background-color:#1aa4ff;color:white;height:60px;line-height:60px;font-family: Arial;font-size:22px;display: block;">User Role Update</h1>

	<p> Hello {{full_name}} , </p>

	<p> There has been an update on user role to the profile registered with this email address. </p>

	<p> The new roles are : {{roles}} </p>

	<p> <b> Email Address : </b> {{email_address}} </p>

	<p>Thank you. </p>

</div>
