	<div style="width:500px;margin:0px auto;font-family:Arial;font-size :16px;">

	<h1 style ="text-align:center;background-color:#1aa4ff;color:white;height:60px;line-height:60px;font-family: Arial;font-size:22px;display: block;">Thesis Delete Request Status</h1>

	<p>Hello <strong>{{full_name}}</strong> , </p>

	<p> There has been recent changes to the status of your application after you submitted a thesis delete request. <br/> <br/>

		<a style ='display:inline-block;width:80%;padding:1.5340879234504911474798498165083%;background-color:#1aa4ff;border-radius: 8px;color:white;text-decoration:none;font-weight:bold;text-align:center' 
			href ='http://{{host}}/thesis/user/delete-request'> View Status </a> </p>

</div>
