<h2 class ="bold"> {{title}} </h2>

	{{> flash}}

<div id ="dashboard">

	<ul>

		<li>
				<a class ="center" href ="/about" title ="About "> <span class ="fa fa-users"></span> About </a>
		</li>

		<li>
				<a class ="center" href ="/contact" title ="Contact"> <span class ="fa fa-support"></span> <span class ="fa fa-address-book"></span> Contact </a>
		</li>

		<li>
				<a class ="center" href ="/forgot-password" title ="Forgot Password"> <span class ="fa fa-key"></span> Forgot your Password </a>
		</li>

	</ul>

	</div>