<!DOCTYPE html>
<html>
<head>
	<meta charset ="UTF-8"/>
	<link rel ="stylesheet" type ="text/css" href ="/css/internal-two.css"/>
	<link rel ="stylesheet" type="text/css" href ="/css/awesome/css/font-awesome.min.css">
	<link rel ="shortcut icon" href ="/images/favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body id ="container">

		{{#> header}}
		{{/header}}

<main id ="main">
 
    {{{body}}}

 </main>

    {{> footer}}

</body>

<script src ="/js/internal-functions.js"></script>
<script src ="/js/internal-delete.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>

</html>