<!DOCTYPE html>
<html>
<head>
	<meta charset ="UTF-8"/>
	<link rel ="stylesheet" type ="text/css" href ="/css/style.css"/>
	<link rel ="stylesheet" type="text/css" href ="/css/awesome/css/font-awesome.min.css">
	<link rel ="shortcut icon" href ="/images/favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body id ="container">

		{{#> header}}
		{{/header}}

<main id ="main">
 
    {{{body}}}

 </main>

    {{> footer}}

</body>

<script src ="/js/internal-functions.js"></script>
<script src ="/js/entries-update.js"></script>
<script src="/js/nav.js"></script>

{{#whenAlg file_upl "==" true}}

<script src ="/js/object-validators.js"></script>
<script src ="/js/object-upload.js"></script>

{{/whenAlg}}

</html>