<!DOCTYPE html>
<html>
<head>
	<meta charset ="UTF-8"/>
	<link rel ="stylesheet" type ="text/css" href ="/css/user-thesis.css"/>
	<link rel ="stylesheet" type="text/css" href ="/css/awesome/css/font-awesome.min.css">
	<link rel ="shortcut icon" href ="/images/favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/froala/froala_editor.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/colors.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/fullscreen.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/line_breaker.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/char_counter.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/image.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/third_party/image_tui.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/third_party/spell_checker.min.css" rel="stylesheet" type="text/css" />
<link href="/css/froala/plugins/help.min.css" rel="stylesheet" type="text/css" />

    <title>{{title}}</title>
</head>
<body id ="container">

		{{#> header}}
		{{/header}}

<main id ="main">
 
    {{{body}}}

 </main>

    {{> footer}}

</body>

<script src="/js/jquery.js"></script>
<script src ="/js/internal-functions.js"></script>
<script src ="/js/internal-delete.js"></script>
<script src ="/js/entries-update.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/froala/froala_editor.min.js"></script>
<script src="/js/froala/plugins/image.min.js"></script>
<script src="/js/froala/third_party/image_tui.min.js"></script>
<script src="/js/froala/plugins/align.min.js"></script>
<script src="/js/froala/plugins/colors.min.js"></script>
<script src="/js/froala/plugins/fullscreen.min.js"></script>
<script src="/js/froala/plugins/font_family.min.js"></script>
<script src="/js/froala/plugins/font_size.min.js"></script>
<script src="/js/froala/plugins/entities.min.js"></script>
<script src="/js/froala/plugins/line_breaker.min.js"></script>
<script src="/js/froala/plugins/line_height.min.js"></script>
<script src="/js/froala/plugins/print.min.js"></script>
<script src="/js/froala/plugins/char_counter.min.js"></script>
<script src="/js/froala/plugins/url.min.js"></script>
<script src="/js/froala/plugins/word_paste.min.js"></script>
<script src="/js/froala/plugins/lists.min.js"></script>
<script src="/js/froala/plugins/link.min.js"></script>
<script src="/js/froala/plugins/help.min.js"></script>
<script src="/js/froala/third_party/spell_checker.min.js"></script>
<script src="/js/froala/plugins/paragraph_style.min.js"></script>
<script src="/js/froala/plugins/paragraph_format.min.js"></script>
<script src="/js/froala/plugins/quote.min.js"></script>
<script src ="/js/froala/main.js"></script>

</html>